html,
body {
  margin: 0;
  background: rgba(30, 30, 30, 1);
}

#App {
  font-family: sans-serif;
  height: 100vh;
  color: white;
}

#Main-page {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item :focus {
  border: #333333;
}

a:focus {
  outline: none;
}

a:hover{
  color: #d1d1d1;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
} 

.bm-burger-bars {
  background: rgb(99, 98, 98);
}

.bm-cross-button {
  height: 30px;
  width: 30px;
}

.bm-cross {
  background: rgb(99, 98, 98);
}

.bm-menu {
  background: #333333;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #1E1E1E;
}

.bm-item-list {
  color: #333333;
}

.bm-overlay {
  background: rgba(30, 30, 30, 1);
}
.bm-overlay :hover {
  background: rgba(30, 30, 30, 1);
}
#main-hedline{
  margin: 20px;
}